
<h1>
  Hello World for app component (parent component)
</h1>
<!-- <app-demo></app-demo> -->
<!-- <app-binding></app-binding> -->
<!-- <app-template-ref-var></app-template-ref-var> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-sturctual-directive></app-sturctual-directive> -->
<!-- <app-pipes></app-pipes> -->
<!-- <div style="text-align: center;">
  <h1>{{messages}}</h1>
  </div>
  <app-component-inetraction (childEvent)="messages=$event" [parentData]="userId"></app-component-inetraction> -->
<router-outlet></router-outlet>
<app-employee-list></app-employee-list>
<app-employee-details></app-employee-details>

