
<h2>
    Welcome {{n}}
</h2>
<!-- <h2 class="text-success">CodeVolution</h2>
<h2 [class]="successClass">CodeVolution</h2>
<h2 class="text-special" [class]="successClass">CodeVolution</h2>
<h2 [class.test-denger]="hasError">CodeVolution</h2> -->

<!-- <h1>Class Binding</h1>
<h2 [ngClass]="messagesClasses">CodeVolution</h2> -->

<!-- <h1>Style Binding</h1> -->
<!-- <h2 [style.color]="hasError ? 'red' : 'green'">CodeVolution</h2>
<h2 [style.color]="highlightColor">Style Binding 2</h2>
<h2 [ngStyle]="titleStyle">Style Binding 2</h2> -->

<!-- <h1>event Binding</h1> -->
<button (click)="onClick()">Greet</button>
{{greeting}}
